<nav class="navbar navbar-expand-lg navbar-dark custom-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pisa Pisuela</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Inicio
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            Menu 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/products/add']"routerLinkActive="active">Productos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/orders/add']"routerLinkActive="active">Pedidos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/sales/add']"routerLinkActive="active">Ventas</a></li>
            <li><a class="dropdown-item" [routerLink]="['/clients/add']"routerLinkActive="active">Clientes</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Exportar a Excel
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>